// Media Query Ranges
$small: 601px;
$medium: 993px;
$large: 1201px;

$accent-color: #64dd17;


// Media Queries
@mixin screen($screen_width) {
  @media (min-width: $screen_width ) and (min-height: 0px) {
    @content;
  }
}

// Column Wrapper
.column_wrapper {
  position: relative;
  overflow: visible;

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

// Column
@mixin column ($width) {
  float: left;
  width: $width;
  position: relative;
}





.cms_news_post {
  display: block !important;
  margin-bottom: 40px;

  .upper {

    @include screen($small) {
      border-bottom: 2px solid $accent-color;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    .photo {
      width: 100%;
      @include screen($small) {
        @include column(40%);
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .meta {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      @include screen($small) {
        @include column(60%);
      }

      .date {
        text-align: center;
        color: #999;
        font-size: 1.2rem;
      }

      h4 {
        @include screen($medium) {
          font-size: 2.8rem;
        }
      }
    }

  }



  .article {
    iframe {
      width: 100%;
    }

    img {
      width: 100% !important;
      height: auto !important;
    }

  }
}


.cms_news_more {
  display: block !important;

  .previous {
    padding-right: 5px;
    @include screen($medium) {
      padding-right: 10px;
    }
  }

  .next {
    padding-left: 5px;
    @include screen($medium) {
      padding-left: 10px;
    }
  }


  .previous, .next {
    @include column(50%);

    .heading {
      border-bottom: 2px solid $accent-color;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    h5 {
      color: #eee;

      &:hover {
        color: $accent-color;
      }
    }

    .photo {
      margin-bottom: 5px;
      @include screen($medium) {
        @include column(30%);
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .meta {
      @include screen($medium) {
        @include column(70%);
        padding-left: 10px;
      }

      .date {
        text-align: center;
        color: #999;
        @include screen($medium) {
          text-align: left;
        }
      }


      .title {
        @include screen($medium) {
          text-align: left;
          margin-top: 5px;
        }
      }

    }


  }



}
